# See file COPYING distributed with python-hypothesis for copyright and 
# license.

# The test suite reads parameters from tests.config.  If
# PYTHON_HYPOTHESIS_TESTS_CONFIG is defined, the configuration from
# that file is applied on top of tests.config (items can be added and
# changed, but not removed).  This file is a sample overlay, noting 
# all of the possible parameters needed by the test suite.

[OAuth]
server = http://localhost:5000
client_id = 2fec875a-3ab9-11e9-8316-8f18e26ee062
client_secret = 7fa5bdb63054f6c60c067ad17f0cf15e
username = username
password = password

[TestAPI]

# Use an active authentication token for auth_token and 
# test_authenticated_profile() will check if the api.profile() returns 
# the given userid.
auth_token = some-token
userid = hypuserid

[TestAnnotation]

# Used by test_read() to test the return value of Annotation.load().  If 
# this annotation does not exist (or can not be found), the test results 
# an error.
annotation_id = v8Y0ix_lSRmDnEKhNr19eQ

# eof
