# See file COPYING distributed with python-hypothesis for copyright and 
# license.

# The test suite reads parameters from tests.config or 
# PYTHON_HYPOTHESIS_TESTS_CONFIG if it is defined.

# This file lists all of the possible parameters needed by the test suite.  
# Tests that require parameters that are not defined are skipped.

[General]
# The server to use for tests.  If unset, use the production Hypothesis server.
#server = https://h-server.virtualbrain.org/

[OAuth]
#server = http://localhost:5000
#client_id = 2fec875a-3ab9-11e9-8316-8f18e26ee062
#client_secret = 7fa5bdb63054f6c60c067ad17f0cf15e
#username = username
#password = password

[TestAPI]

# Use an active authentication token for auth_token and 
# test_authenticated_profile() will check if the api.profile() returns 
# the given userid.
#auth_token = some-token
#userid = acct:someuser@hypothes.is

[TestAnnotation]

# Used by test_read() to test the return value of Annotation.load().  If 
# this annotation does not exist (or can not be found), the test results 
# an error.
annotation_id = 53LMZGVCEemN4zOvm3oFEQ

# Used to test the search functionality.  The tests expect at least two 
# annotations with the given tag on the given page.
search_tag = PythonHypothesis
search_uri = https://github.com/chaselgrove/python-hypothesis

[TestEdit]

# Used by TestEdits to test edits to annotations.  The annotation text 
# should not contain "test text," and "TestTag" should not be one of its 
# tags.
#auth_token = some-token
#annot_id = some-annotation-id

[TestSearch]

# Used by TestAuthenticatedSearch to make sure annotation.search()
# is using authentication properly.  Create a private annotation on
# the given URI containing the given text.  The test will throw an
# error if the text appears in a public annotation on that page.
# auth_token = some-token
# uri = some-uri
# text = some-text

# eof
